/*
!/Data
/Data/Bundles
/Data/Prefabs
/Data/Prefabs - Vanilla
/Data/UMATextures
/Data/Worlds
!/Mods

/Data/Config/archetypes.xml
/Data/Config/biomes.xml
/Data/Config/blocks.xml
/Data/Config/buffs.xml
/Data/Config/entityclasses.xml
/Data/Config/entitygroups.xml
/Data/Config/gamestages.xml
/Data/Config/items.xml
/Data/Config/Localization - Quest.txt
/Data/Config/Localization.txt
/Data/Config/loot.xml
/Data/Config/materials.xml
/Data/Config/misc.xml
/Data/Config/npc.xml
/Data/Config/physicsbodies.xml
/Data/Config/progression.xml
/Data/Config/qualityinfo.xml
/Data/Config/quests.xml
/Data/Config/recipes.xml
/Data/Config/rwgmixer.xml
/Data/Config/sounds.xml
/Data/Config/spawning.xml
/Data/Config/traders.xml
/Data/Config/vehicles.xml
/Data/Config/weathersurvival.xml
/Data/Config/XML.txt